<!DOCTYPE html>
<html ng-app="timestampApp">
  <head>
    <title>Timestamp Helper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <style type="text/css">
        .padding-bottom {
            padding-bottom: 1em;
        }
        
        .margin-right {
            margin-right: 1em;
        }
    </style>
  </head>
  <body ng-controller="TimestampController">
  
    <div class="container">
        <div class="page-header">
            <h1 id="current-time" ng-show="!showSettings">{{time}} <span ng-if="frameNumber">(Frame {{frameNumber}})</span></h1>
            <h1 ng-show="showSettings">
                <input type="text" ng-model="rawtime" ng-change="changeTime()" pattern="[0-9]{2}:[0-5][0-9]:[0-5][0-9]"  />
            </h1>
        </div>
        
        <div class="row padding-bottom">
            <button class="btn" id="time-start" ng-click="start()">Start</button>
            <button class="btn" id="time-stop" ng-click="stop()">Stop</button>
            <button class="btn" ng-click="showSettings = !showSettings; rawtime = time;"><i class="fa fa-cog"></i></button>
            
            <button class="btn" id="time-set" ng-click="reset()" ng-show="showSettings">Reset</button>
        </div>
        
        <div class="row padding-bottom" ng-show="showSettings">
            <label ng-repeat="frameRate in frameRates" class="margin-right">
                <input type="radio" name="rdoFrameRates" ng-model="$parent.selectedFrameRate" ng-value="frameRate" /> {{frameRate.title}}
            </label>
        </div>
        
        <div class="row padding-bottom" ng-show="showSettings">            
            <div ng-repeat="label in labels">
                <label class="label label-{{label.tag}}">&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;
                <input type="text" ng-model="label.title" />
            </div>
        </div>
        
        <div class="row padding-bottom">
            <button ng-repeat="label in labels" ng-if="label.title" class="btn btn-{{label.tag}} add-item margin-right" ng-click="addTimestamp(label)">{{label.title}}</button>
        </div>
        
        <div class="row" id="results">
            <div ng-repeat="timestamp in timestamps | orderBy : '-time'">
                <h3>
                <label class='{{timestamp.class}}' title="{{timestamp.description}}">
                    <span ng-if="timestamp.frameNumber">Frame {{timestamp.frameNumber}}: </span>
                    {{timestamp.timeText}}
                    <i class="fa fa-close" ng-click="removeTimestamp(timestamp)"></i>
                </label>
                </h3>
            </div>
        </div>
    </div>
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-touch.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>